.Snake {
  text-align: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #282c34;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: deepskyblue;
}

.App-body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

canvas{
  background-color: lightgray;
}

body * {
  box-sizing: border-box;
}

main {
  display: flex;
  font-size: 1vh;
}
canvas {
  border: 5px solid #000000;
  width: 100%;
  background-color: lightgray;
}

table, th, td {
  background-color: lightgray;
  border: 1px solid black;
  text-align: center;
}

.game {
  background-color: #545454;
}

.mainGame {
  display: block;
  margin-left: 15vmin;
  margin-right: 5vmin;
}

.chat {
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  border: 5px solid black;
  min-height: 90vh;
  max-height: 90vh;
  width: 20vw;
}

.chatHeader {
  font-size: 3vmin;
}

.chatContent{
  overflow-y: auto;
  max-height: 75vh;
  text-align: left;
}

.score {
  max-height: 15vh;
  overflow-y: auto;
  width: 100%;
}

.footer{
  text-align: right;
}

.tArea{
  width: 100%;
}